.posts-container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.post-heading {
  text-align: left;
  margin: 20px 5px;
  font-size: 40px;
  color: #5a4fcf;
  font-weight: 600;
}

.no-posts-message {
  text-align: center;
  color: #555;
  font-size: 18px;
  margin-top: 20px;
}
